
	<div class="panel-heading">
		<h1>About</h1>
	</div>
	<div class="form-group">
		<p>We are what we eat so share your food on Devourr!</p>
		<p>This is a fledgling web app created by Pat Needham</p>
	</div>
