
	<div class="panel-heading">
		<h1>About</h1>
	</div>
	<div class="form-group">
		<p>We are what we eat so share your food on Devourr!</p>
		<p>This is was fledgling photo sharing web app created by Pat Needham in 2014. Please stay tuned for a much improved version.</p>
    <p>If you're interested in the upcoming code base, please check it out on Github for the <a href='https://github.com/goodeats/devourrApp'>frontend</a> and <a href='https://github.com/goodeats/devourrAPI'>backend</a> or visit my personal website at <a href='http://www.patneedham.me'>www.patneedham.me</a>. Thanks!</p>
	</div>
